.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  width: 1340px;
  margin: auto;
  padding: 92px 0;
}

.header__menu {
justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
}

.header__link_active {
text-decoration: underline;
white-space: nowrap;
}

  
.header__logo {
display: block;
}

.header__logo-image {
width: 142px;
height: 106px;
}

.address {
justify-self: end;
max-width: 240px;
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: 135%;
text-underline-offset: 4px;
}

.cover {
display: flex;
flex-direction: column;
background: url(../images/cover.jpg);
background-size: cover;
background-position: center;
position: relative;
width: 1440px;
height: 754px;
margin: auto;
}

/*.cover__image {
height: 100%;
}*/

.overlay {
z-index: 0;
display: flex;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: transparent;
opacity: 0.6;
background: rgba(0, 0, 0, 0.60);
}

.cover__title {
position: absolute;
z-index: 2;
color: #FFF;
font-family: Raleway;
font-weight: 700;
font-size: 100px;
font-style: normal;
line-height: 115%;
letter-spacing: 30px;
text-transform: uppercase;
}

.aligned-text {
display:flex;
justify-content: start;
align-items: center;
width: 1340px;
margin: 165px 50px 20px 50px;
line-height: 115%;
}

.aligned-text_center {
display: flex;
justify-content: center;
align-items: center;
width: 1280px;
margin: 0 110px 20px 50px;
line-height: 100%;
}

.aligned-text_right {
display: flex;
justify-content: end;
align-items: center;
width: 1340px;
margin: 0 50px 237px 50px;
line-height: 100%;
}

.no-letter-spacing {
position: relative;
left: 30px;
}

.letter-spacing-extended {
letter-spacing: 30px;
}

.cover__description {
display: flex;
align-self: end;
justify-content: end;
z-index: 1;
width: 100%;
padding: 655px 50px 50px 0;
}

.cover__description-text {
  position: relative;
  top: 1px;
  right: 1.5px;
  word-spacing: 18.3px;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  padding: 12px 78px 12px 0;
}

.bet-button {
background: transparent;
width: 257px;
height: 52px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
border: 1px solid #FFF;
}

.bet-button .span {
padding: 12px 32px 12px 32px;
}

.lots {
margin: 181px auto 181px auto;
width: 1340px;
height: 579px;
position: relative;
}

.lots__heading {
color: #000;
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding: 0 0 27px 40px;
}

.lots__card-list {
display: flex;
gap: 25px;
/*flex-wrap: wrap;
justify-content: space-between;*/
list-style-type: none;
}

.lots__card-list-item {
display: flex;
width: 430px;
height: 450px;
flex-grow: 1;
}

.card-link {
display: block;
text-decoration: none;
height: 100%;
width: 100%;
}

.card {
position: relative;
display: flex;
height: 100%;
width: 430px;
}

.card_type_film {
background: url("../images/card-lot-01.jpg") no-repeat;
background-size: cover;

}

.card_type_book {
background: url("../images/card-lot-02.jpg") no-repeat;
background-size: cover;
}

.card_type_picture {
background: url("../images/card-lot-03.jpg") no-repeat;
background-size: cover;
}


.card__title {
padding: 50px 40px 0 40px;
z-index: 1;
color: #FFF;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 120%;
text-decoration-line: underline;
text-transform: uppercase;
}

.card__text {
position: absolute;
bottom: 50px;
left: 40px;
right: 40px;
color: #FFF;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
}

.lots__look-more-link {
  position: absolute;
  left: 40px;
  bottom:2px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about {
display: grid;
grid-template-columns: auto 1fr;
gap: 25px;
width: 1340px;
height: 487px;
flex-shrink: 0;
margin: 181px auto 180px auto;
}

.about__column {
display: flex;
flex-direction: column;
}

.container__like-a-card {
display: flex;
justify-content: center;
width: 430px;
height: 100%;
}

.about__logo {
background-color: black;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
width: 240px;
height: 240px;
flex-shrink: 0;
}

.about__logo-image {
width: 148px;
height: 114px;
}

.second__container {
align-self: end;
display: inline-flex;
height: 388px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
gap: 100px;
}

.about__title {
color: #000;
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.empty-block {
height: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.footer {
display: grid;
width: 1340px;
height: 109px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
margin: auto;
}

.footer .address {
display: flex;
flex-direction: column;
justify-self: start;
color: #000;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24.3px;
}

.footer__menu {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-list {
list-style-type: none;
}

.footer__menu-link_active {
text-decoration: none;
}

.footer__link {
text-decoration: underline;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  width: 240px;
  height: 48px;
  flex-shrink: 0;
  list-style-type: none;
  justify-content: space-between;
}

.footer__social-icon {
height: 50px;
width: auto;
}
